body {
  font-family: Arial, sans-serif;
  background-color: #f7f5f5;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

.input-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.todo-icon {
  background-color: #3586b8;
  color: white;
  padding: 12px;
  font-size: 16px;
}

#taskInput {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 16px;
}

.add-btn {
  background-color: #3586b8;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.filter-btn {
  flex: 1;
  padding: 12px;
  background-color: #3586b8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.filter-btn:hover {
  background-color: rgb(55,127,172);
  box-shadow: 0 0 10px rgb(29,147,221);
}

#todoList {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 10px;
}

.todo-text {
  flex: 1;
}

.completed {
  text-decoration: line-through;
  color: #be1212;
}

.bottom-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.bottom-delete-btn {
  flex: 1;
  padding: 12px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.bottom-delete-btn:hover {
  background-color: #9c1813;
}
